<nav>
	<ul class="pagination pagination">
		<li><a ui-sref=".category">Category <span ng-show="selectedCat">( {{selectedCat}} )</span> </a></li>
		<li><a ui-sref=".style">Style <span ng-show="selectedStyle">( {{selectedStyle}} )</span> </a></li>
		<li><a ui-sref=".color">Color <span ng-show="selectedColor">( {{selectedColor}} )</span> </a></li>		
		<li><a ui-sref=".door">Door <span ng-show="selectedDoor">( {{selectedDoor}} )</span> </a></li>
	</ul>
	<br>
	<button ui-sref=".category" class="btn btn-danger" ng-click="resetDoor()">Clear selections</button>
	<button ui-sref=".all" class="btn btn-primary">See All Doors</button>
</nav>


<div ui-view></div>
