<div class="container" ng-controller="RegistrationController">
	<div class="row">
		<div class="col-md-8">
			<div class="card">
				<div class="header">
					<h4 class="title">Profile</h4>
				</div>
				<div class="content">
					<form>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>First Name</label>
									<input disabled type="text" class="form-control" value="{{ authData.google.cachedUserProfile.given_name }}">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Last Name</label>
									<input disabled type="text" class="form-control" value="{{ authData.google.cachedUserProfile.family_name }}">
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</form>
				</div>
			</div>

		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img width="200px" src="{{authData.google.cachedUserProfile.picture}}" alt="">
			</div>
			<span>
				ID: {{authData.google.cachedUserProfile.id}}
			</span>
			<span ng-show="checkRole(authData.google.cachedUserProfile.id)">
				ADMIN
			</span>
		</div>

	</div>
	<wish-list></wish-list>
	<style>
		.pay-btn {
			display: none;
		}
	</style>
	<shopping-cart></shopping-cart>
</div>
