body {
    padding-top: 70px;
}

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
label,
th,
td {
    font-weight: 300 !important;
}

.admin .list-group-item select {
    width: 150px;
    border-radius: 0 !important;
    background-color: #FFF;
}

table > thead > tr > th {
    cursor: pointer;
}

table > thead > tr > th:hover {
    font-weight: 700 !important;
}

.debug-console {
    display: none;
}

.btn {
    line-height: 13px;
}

body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
    margin-right: 0;
}



.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
}
