<h2>Admin area</h2>
<hr>
<div class="row admin">
    <!-- New door form -->
    <div class="col-md-4">
        <h4>Add a new door</h4>
        <form name="myform" ng-submit="addDoor()" novalidate>
            <ul class="list-group">
                <li class="list-group-item">
                    <label>Door name</label>
                    <input ng-model="doorname" class="pull-right">
                </li>
                <li class="list-group-item">
                    <label>Category</label>
                    <select class="pull-right" ng-model="selectedCat" ng-options="door.category for door in getUniqueCats()[1]">
                    </select>
                </li>
                <li class="list-group-item">
                    <label>Style</label>
                    <select class="pull-right" ng-model="selectedStyle" ng-options="door.style for door in getUniqueStyles(selectedCat.category)[1]">
                    </select>
                </li>
                <li class="list-group-item">
                    <label>Color</label>
                    <select class="pull-right" ng-model="selectedColor" ng-options="door.color for door in getUniqueColors(selectedStyle.style)[1]">
                    </select>
                </li>

                <li class="list-group-item">
                    <label>Price per sq. in</label>
                    <input type="text" ng-model="doorprice" class="pull-right">
                </li>
                <li class="list-group-item">
                    <label>Image</label>
                    <input type="text" ng-model="doorImageUrl" class="pull-right">
                </li>
                <li class="list-group-item pull-right">
                    <button type="submit" class="btn btn-default">Add door</button>
                </li>
            </ul>
        </form>
    </div>
    <div class="col-md-4">
        <!-- New category form -->
        <div class="row">
            <h4>Add a new category</h4>
            <form name="myform" ng-submit="addCategory()" novalidate>
                <ul class="list-group">
                    <li class="list-group-item">
                        <label>Name</label>
                        <input type="text" ng-model="newCategory" class="pull-right">
                    </li>
                    <li class="list-group-item pull-right">
                        <button type="submit" class="btn btn-default">Add Category</button>
                    </li>
                </ul>
            </form>
        </div>
        <hr>
        <!-- New style form -->
        <div class="row">
            <h4>Add a new style</h4>
            <form name="myform" ng-submit="addStyle()" novalidate>
                <ul class="list-group">
                    <li class="list-group-item">
                        <label>Name</label>
                        <input type="text" ng-model="newStyle" class="pull-right">
                    </li>
                    <li class="list-group-item pull-right">
                        <button type="submit" class="btn btn-default">Add Style</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <div class="col-md-4">
        <!-- New color form -->

        <h4>Add a new color</h4>
        <form name="myform" ng-submit="addColor()" novalidate>
            <ul class="list-group">
                <li class="list-group-item">
                    <label>Name</label>
                    <input type="text" ng-model="newColor" class="pull-right">
                </li>
                <li class="list-group-item pull-right">
                    <button type="submit" class="btn btn-default">Add Color</button>
                </li>
            </ul>
        </form>

    </div>
</div>


<div class="row" ng-include="'views/db.html'"></div>
