<div class="container">
	<div class="page-header">
		<h1>Cabinets</h1>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-4">
			<ul class="refine-bar shadow">
				<li class="list-group-item">
					<h3 class="list-group-item-heading">Refine</h3>
				</li>
				<li class="list-group-item">
					<label class="list-group-item-heading" data-toggle="collapse" data-target="#categories" aria-expanded="false" aria-controls="categories"><strong>Categories</strong><span class="glyphicon glyphicon-menu-down pull-right"></span></label>
					<ul class="collapse" id="categories">
						<li ng-repeat="category in cabinetCategoriesArr">
							<label class="checkbox">
								<input type="checkbox" value="" ng-click="includeCategory(category.name)"> {{category.name}}
								<span class="badge">{{lengthOfCategory(category)}}</span>
							</label>
						</li>
					</ul>
				</li>

				<li class="list-group-item">
					<label class="list-group-item-heading" data-toggle="collapse" data-target="#styles" aria-expanded="false" aria-controls="styles"><strong>Styles</strong><span class="glyphicon glyphicon-menu-down pull-right"></span></label>
					<ul class="collapse" id="styles">
						<li ng-repeat="style in cabinetStylesArr">
							<label class="checkbox">
								<input type="checkbox" value="" ng-click="includeStyle(style.name)"> {{style.name}}
							</label>
						</li>
					</ul>
				</li>

				<li class="list-group-item">
					<label class="list-group-item-heading" data-toggle="collapse" data-target="#color" aria-expanded="false" aria-controls="color"><strong>Color </strong><span class="label label-primary">{{chosenColor.name}}</span><span class="glyphicon glyphicon-menu-down pull-right"></span></label>
					<ul class="collapse" id="color">
						<li ng-repeat="color in cabinetColorsArr">
							<label class="radio">
								<input type="radio" name="chosenColor" ng-model="$parent.chosenColor" ng-value="color"> {{color.name}}
							</label>
						</li>
					</ul>
				</li>

			</ul>
		</div>

		<div class="col-lg-9 col-md-8">

			<div class="row">
				<div class="col-md-4 col-sm-6" ng-repeat="cabinet in cabinetsArr | filter:categoryFilter | filter:styleFilter">

					<div class="thumbnail shadow" data-toggle="modal" data-target=".cabinet-modal-{{cabinet.$id}}">
						<img src="{{cabinet.imageUrl}}">
						<div class="caption">
							<p><strong>Name:</strong> {{cabinet.name}}</p>
							<p><strong>Category:</strong> {{cabinet.category.name}}</p>
							<p><strong>Style:</strong> {{cabinet.style.name}}</p>
						</div>
					</div>

					<div class="modal fade cabinet-modal-{{cabinet.$id}}">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-body">
									<h5>{{cabinet.name}}</h5>
									<hr>
									<div class="thumbnail">
										<img src="{{cabinet.imageUrl}}">
										<div class="caption">
											<div class="list-group-item">
												<strong>Name:</strong> {{cabinet.name}}
											</div>
											<div class="list-group-item">
												<strong>Category:</strong> {{cabinet.category.name}}
											</div>
											<div class="list-group-item">
												<strong>Style:</strong> {{cabinet.style.name}}
											</div>
											<div class="list-group-item">
												<strong>Color:</strong> {{chosenColor.name}}
											</div>
											<div class="list-group-item"><strong>Width:</strong>
												<span>Min: {{cabinet.minWidth}}</span>
												<input type="number" min="{{cabinet.minWidth}}" max="{{cabinet.maxWidth}}" ng-model="cabinet.width">
												<span>Max: {{cabinet.maxWidth}}</span>
											</div>
											<div class="list-group-item"><strong>Height:</strong>
												<span>Min: {{cabinet.minHeight}}</span>
												<input type="number" min="{{cabinet.minHeight}}" max="{{cabinet.maxHeight}}" ng-model="cabinet.height">
												<span>Max: {{cabinet.maxHeight}}</span>
											</div>
											<div class="list-group-item"><strong>Depth:</strong>
												<span>Min: {{cabinet.minDepth}}</span>
												<input type="number" min="{{cabinet.minDepth}}" max="{{cabinet.maxDepth}}" ng-model="cabinet.depth">
												<span>Max: {{cabinet.maxDepth}}</span>
											</div>
											<div class="list-group-item">
												<strong>Price =</strong> {{calcPrice(cabinet) | currency}}
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
									<button type="button" class="btn btn-primary" ng-click="addToWishList(cabinet)">Add to Wish List</button>
								</div>
								<div ng-hide="authData" class="alert alert-warning alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<strong>Hey there!</strong> Please <strong>login</strong> before using the Wish List.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
	<hr>
	<div class="row">
		<h4>Wish list</h4>
		<table class="table table-hover">
			<thead>
				<th>Name</th>
				<th>Category</th>
				<th>Style</th>
				<th>Color</th>
				<th>Width</th>
				<th>Height</th>
				<th>Depth</th>
				<th>Price</th>
			</thead>
			<tbody>
				<tr ng-repeat="cabinet in wishListArr">
					<td>{{cabinet.name}}</td>
					<td>{{cabinet.category.name}}</td>
					<td>{{cabinet.style.name}}</td>
					<td>{{cabinet.color.name}}</td>
					<td>{{cabinet.width}}</td>
					<td>{{cabinet.height}}</td>
					<td>{{cabinet.depth}}</td>
					<td>{{cabinet.price | currency}}</td>
					<td>
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target=".{{cabinet.$id}}-trash-modal">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
						<div class="modal fade colors-modal {{cabinet.$id}}-trash-modal">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title">You're about to remove cabinet: {{cabinet.name}} from your wish list</h4>
									</div>
									<div class="modal-body">
										<h5>Are you sure?</h5>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
										<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="removeFromWishList(cabinet)">Yes, remove this Cabinet</button>
									</div>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>
						<!-- /.modal -->
					</td>
					<td>
						<button type="button" class="btn btn-success pull-right" ng-click="addToCart(cabinet)">Add to Cart</button>
					</td>
				</tr>
				<tr>
					<td colspan="8">
						<h2 class="pull-right">Total: {{wishListPrice() | currency}}</h2>
					</td>
				</tr>
				<tr>
					<td colspan="8">
						<button class="btn btn-success pull-right" ng-click="addAllToCart(wishListArr)">Add all to Cart</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>
