<div class="row">
    <h4>Doors</h4>
    <table class="table">
        <thead>
            <tr>
                <th ng-click="filter = 'name'">Name</th>
                <th ng-click="filter = 'category'">Category</th>
                <th ng-click="filter = 'style'">Style</th>
                <th ng-click="filter = 'color'">Color</th>
                <th ng-click="filter = 'price'">Price</th>
                <th ng-click="filter = 'date'">Date added</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="door in doorsArr | orderBy:filter">
                <td>{{door.name}}</td>
                <td>{{door.category}}</td>
                <td>{{door.style}}</td>
                <td>{{door.color}}</td>
                <td>{{door.price | currency}}</td>
                <td>{{door.date | date : 'MMM d, yyyy, h:mm a'}}</td>
                <td>
                    <button class="btn btn-danger" ng-really-message="Are you sure?" ng-really-click="removeDoor(door)">Remove Door</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <h4>Categories</h4>
    <table class="table">
        <thead>
            <tr>
                <th ng-click="filter = 'name'">Name</th>
                <th ng-click="filter = 'date'">Date added</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="category in doorCategoriesArr">
                <td>{{category.name}}</td>
                <td>{{category.date | date : 'MMM d, yyyy, h:mm a'}}</td>
                <td>
                    <button class="btn btn-danger" ng-really-message="Are you sure?" ng-really-click="removeCategory(category)">Remove Category</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
