<div class="jumbotron">
  <h1>Coming soon!</h1>
  <p>This page is under construction. Please come back soon.</p>
  <p>Thank you for your patience.</p>
</div>



<!--
<div class="container">

		<div class="col-lg-9 col-md-8">

			<div class="row">
				<div class="col-md-4 col-sm-6" ng-repeat="door in doorsArr | filter:categoryFilter | filter:styleFilter">

					<div class="thumbnail shadow" data-toggle="modal" data-target=".door-modal-{{door.$id}}">
						<img src="{{door.imageUrl}}">
						<div class="caption">
							<p><strong>Name:</strong> {{door.name}}</p>
							<p><strong>Category:</strong> {{door.category.name}}</p>
							<p><strong>Style:</strong> {{door.style.name}}</p>
						</div>
					</div>

					<div class="modal fade door-modal-{{door.$id}}">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-body">
									<h5>{{cabinet.name}}</h5>
									<hr>
									<div class="thumbnail">
										<img src="{{door.imageUrl}}">
										<div class="caption">
											<div class="list-group-item">
												<strong>Name:</strong> {{door.name}}
											</div>
											<div class="list-group-item">
												<strong>Category:</strong> {{door.category.name}}
											</div>
											<div class="list-group-item">
												<strong>Style:</strong> {{door.style.name}}
											</div>
											<div class="list-group-item">
												<strong>Color:</strong> {{chosenColor.name}}
											</div>
											<div class="list-group-item"><strong>Width:</strong>
												<select ng-model="door.width" ng-options="widthOption for widthOption in getWidthOptions(door)"></select>
												<span> inches, </span>
												<select ng-model="door.widthFraction" ng-options="fraction for fraction in cabinetFractions"></select>
											</div>
											<div class="list-group-item"><strong>Height:</strong>
												<select ng-model="door.height" ng-options="heightOption for heightOption in getHeightOptions(door)"></select>
												<span> inches, </span>
												<select ng-model="door.heightFraction" ng-options="fraction for fraction in cabinetFractions"></select>
											</div>
											<div class="list-group-item"><strong>Depth:</strong>
												<select ng-model="door.depth" ng-options="depthOption for depthOption in getDepthOptions(door)"></select>
												<span> inches, </span>
												<select ng-model="door.depthFraction" ng-options="fraction for fraction in cabinetFractions"></select>
											</div>
											<div class="list-group-item">
												<strong>Price =</strong> {{calcPrice(door) | currency}}
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-primary" ng-click="addToWishList(door)">Add to Wish List</button>
								</div>
								<div ng-hide="authData" class="alert alert-warning alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<strong>Hey there!</strong> Please <strong>login</strong> before using the Wish List.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>


</div>
-->
