<section class="login">
	<form name="myform"
		ng-submit="login()"
		novalidate>
		<h1>Hi there!</h1>
		<p>Log-in to access site features.</p>

		<p ng-if="authData">Logged in user: <strong>{{ authData.firstname }}</strong></p>
  <p ng-if="error">Error: <strong>{{ error }}</strong></p>

		<input type="email" name="email" placeholder="Email" ng-model="user.email" ng-required="true">


		<input type="password" name="password" placeholder="Password" ng-model="user.password" ng-required="true">


		<button type="submit" class="btn"
			ng-disabled="myform.$invalid">Login</button>
		<p>or <a ui-sref="register">register</a></p>
	</form>
</section>